<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>
    <div class="card-block">
      <!--<button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>-->
      <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
    </div>
  </div>
  <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>



<div class="row">
  <div class="col l12 s12 center">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Login to our site</span>
        <p>you can Login with facebook and google in order To register for one of ours available Gym classes .</p>
      </div>
      <div class="card-action">
        
      </div>
    </div>
  </div>
</div>
<div class="center-align">
  <a class="waves-effect waves-light btn social facebook" (click)="signInWithFB()"><i class="fa fa-facebook"></i> Sign in with facebook</a>
  <a class="waves-effect waves-light btn social google"> <i class="fa fa-google"></i> Sign in with Google</a>
</div>  