
<div style='background-image : url(../../assets/logo.jpg);background-size:cover;color:white;padding-bottom:50px'>
 
  <br><br/>
  
  <h1 class="center-align" > Welcome to my Wix Gym Club</h1>
  <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel nulla efficitur, pellentesque sem eget, maximus turpis. Nunc volutpat mi quis risus consequat maximus. Maecenas volutpat orci quis vulputate tristique. Nullam neque neque, finibus at nisl vitae, consectetur porttitor quam. Praesent accumsan diam nec dui imperdiet volutpat ac eu lorem. Phasellus eu vehicula arcu. Quisque ac sapien vel ligula aliquam mollis. Etiam feugiat semper eros ac pellentesque. Aenean ornare dolor justo, et finibus metus lobortis ut. Maecenas vel lorem gravida, dictum lectus rutrum, mollis urna. Sed laoreet ultricies dolor vel tempus.
      Pellentesque vestibulum rutrum dui, eu aliquam dui auctor rutrum. Vivamus vulputate leo turpis, in semper sapien sagittis vel. Aliquam varius, sem a tincidunt dictum, ipsum mauris sodales nulla, at ultrices lorem elit in leo. Suspendisse vitae risus a diam laoreet malesuada. Sed ante erat, imperdiet non nisi quis, porta facilisis arcu. In non enim lectus. In hac habitasse platea dictumst. Aliquam pulvinar, erat a posuere fringilla, metus diam ullamcorper magna, non mattis augue ligula a ligula.
    <br><br><a class="waves-effect waves-light btn red" routerLink="/allclasses">View all Classes</a>
  </p>
  
  
</div>

