

.login-btn{

    margin: 10px 0 0 10px;
    background-color: rgb(89, 47, 168);
    
}

.parallax-container{
    height: 500px;
    color: white;   
}


.info{


    padding : 0 150px;
    font-size: 15px;
}